
.divider {
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #e6e6e6;
}

.btn-pill {

    color: white;
    padding: 8px 12px;
    border-radius: 1000px;
    display: inline-block;
}

.btn-pill:hover {
    color: white;
    cursor: pointer;
}

.btn-lg {
    @apply text-xl;

    padding: 12px 24px;
}

.btn-primary {
    background-color: rgb( var(  --color-primary ) );
    color: white;
}

.btn-primary:hover {
    opacity: 0.85;
}

.btn-primary:active {
    opacity: 0.75;
}

.btn-secondary {
    background-color: var( --color-accent );
    color: white;
}

.btn-secondary:hover {
    opacity: 0.85;
}

.btn-secondary:active {
    opacity: 0.75;
}

.box-shadow { 
    box-shadow: 6px 6px 8px rgba( 50, 50, 50, 0.1 );
}


.paragraph-image-block {
    text-align: center;
}

.paragraph-image-block img {
    margin: 0 auto 4px;
}

.paragraph-image-block__title {
    color: #333;
    font-weight: 300;
    font-size: 0.8em;
}

.paragrpah-image-block__source {
    color: #666;
    font-weight: 300;
    font-size: 0.7em;
}