
.btn-pill {
    @apply bg-primary;

    color: white;
    padding: 8px 12px;
    border-radius: 1000px;
}

.btn-pill:hover {
    @apply bg-secondary;
    color: white;
    cursor: pointer;
}

.btn-pill-outline {
    @apply border-primary text-primary;

    border-radius: 1000px;
    border-width: 2px;
    padding: 6px 12px;
}

.btn-pill-outline:hover {
    @apply bg-primary;

    color: white;
    cursor: pointer;
}

.btn-lg {
    @apply text-xl;

    padding: 12px 24px;
}

.box-shadow { 
    box-shadow: 6px 6px 8px rgba( 50, 50, 50, 0.1 );
}