@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

@import './welcome-section.css';
@import './navbar.css';
@import './components.css';
@import './layout.css';
@import './typography.css';

body {
    --color-white: 255 255 255;
    --color-bg: 245 245 245;
    --color-primary: 10 101 20;
    --color-secondary: 59 193 74;

    --navbar-height: 60px;

    background-color: var( --color-bg );
    font-family: 'Rubik', sans-serif;
    font-size: 100%;
}

#mainContentContainer {
    padding-top: var( --navbar-height ); 
}

