
.container-slim {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media ( min-width: 640px ) {
    .container-slim {
        max-width: 640px;
    } 
}

@media ( min-width: 1024px ) {
    .container-slim {
        max-width: 768px;
    }
}