
h1 {
    font-weight: 500;
    font-size: 2.3em;
    line-height: 1.2;
}

h2 {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 0;
    line-height: 1.2;
}

p { 
    @apply leading-normal;
}

.presentation-text {
    font-size: 1.4em;
    font-weight: 300;
}

ul {
    @apply mb-2;
    list-style-type: disc;
    margin-left: 1em;
}

a { 
    @apply text-primary;
}

a:hover {
    @apply text-secondary;
}