
.welcome-section {
}

.welcome-section__header {
    font-weight: 600;
    font-size: 2.8em;
    line-height: 1.2;
}

.welcome-section__subtitle {
    font-size: 1.5em;
    font-weight: 300;
}

.welcome-section__image {
    max-height: 40vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba( 0, 0, 0, 0.1 );
}

.welcome-section__image-large {
    display: none;
}

.welcome-section__actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media( min-width: 800px ) {
    .welcome-section {
        display: flex;
        align-items: center;
    }

    .welcome-section__main {
        width: 75%;
    }

    .welcome-section__image-large {
        width: 25%;
        display: flex;
        margin-left: 1.5em;
    }

    .welcome-section__image-large img {
        box-shadow: 0 4px 8px rgba( 0, 0, 0, 0.1 );
        border-radius: 5px;
        transform: rotate( 2.5deg );
    }

    .welcome-section__image {
        display: none;
    }
}


.feature-showcase {

}

.feature-showcase__image {
    overflow: hidden;
    margin: 0 auto;
    max-width: 85%;
    padding: 8px;
}

.feature-showcase__image img {
    box-shadow: 0 2px 4px rgba( 0, 0, 0, 0.2 );
    border-radius: 5px;
}

@media( min-width: 800px ) {
    .feature-showcase {
        display: flex;
        align-items: center;
    }

    .feature-showcase__text {
        width: 60%;
    }

    .feature-showcase__image {
        width: 40%;
        margin-left: 2em;
    }
}

#forTeachers {
    background-color: #F4EFFF;
    padding: 3em 0;
}

.for-teachers__text {

}

.for-teachers__image {
    display: flex;
    align-items: center;
    min-height: 30vh;
    border-radius: 5px;
    overflow: hidden;
    background-size: cover;
}

@media( min-width: 800px ) {
    #forTeachers .content {
        display: flex;
        align-items: stretch;
    }
    
    .for-teachers__text {
        width: 75%;
    }
    
    .for-teachers__image {
        max-height: 100vh;
        width: 25%;
        margin: -3em 0 -3em 2em;
    }
}