
.welcome-section {
    max-width: 1300px;
    margin: 0 auto;
}

.welcome-section__image {
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 6px 6px 8px rgba( 0, 0, 0, 0.15 );
}

.welcome-section__main {
    border-radius: 8px;
    box-shadow: 6px 6px 8px rgba( 0, 0, 0, 0.15 );
}

.welcome-section__logo {
    height: 32px;
}

.welcome-section__logo img {
    height: 100%;
}

@media ( max-width: 640px ) {
    .welcome-section__image {
        max-height: 30vh;
        display: flex;
        align-items: center;   
    }

    .welcome-section__image img {
        flex: 1;
    }
}

@media ( min-width: 640px ) {
    .welcome-section__main {
        box-shadow: none;
    }
}

@media ( min-width: 768px ) {
    .welcome-section__main {
        
    }

    .welcome-section__image {
        transform: rotate( 2deg );
    }
}



.welcome-section__header {
    font-weight: 500; 
}