{% load static wagtailcore_tags wagtailuserbar %}

<header class="site-navbar bg-white">
    <div class="container navbar-container">
        <div class="navbar-logo flex-1">
            <a href='/'>
                <img src="{% static "images/logo-contrast.png" %}">
            </a>
        </div>

        <nav class="navbar-menu">
            <a class="navbar-actions btn-pill" href='https://app.aktulibre.eu' >
                Go to Aktulibre
            </a>
        </nav>
    </div>
</header>