{% extends 'blog.html' %}
{% load wagtailcore_tags %}

{% block title %}Aktulibre blog{% endblock %}

{% block blog-content %}
    <h2 class="space-md">Latest posts</h2>

    {% if tag_filter %}
        <div class="blog-list-filters space-md">
            Showing results for <a href="{% pageurl page %}" class="blog-page-tag">{{ tag_filter }}</a>

        </div>
    {% endif %}

    <div class="blog-list">

        {% for post in posts %}
            <a href="{{ post.get_url }}" class="blog-list-item">
                <div >
                    <h3 class="blog-list-item__title">{{ post.title }}</h3>
                    <div class="blog-list-item__meta">
                        <div class="blog-list-item__publish-date space-md">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-calendar"><path d="M8 2v4"/><path d="M16 2v4"/><rect width="18" height="18" x="3" y="4" rx="2"/><path d="M3 10h18"/></svg>
                            {{ post.last_published_at | date:'F j, Y' }}
                        </div>
                    </div>
                    {% if post.intro %}
                        {{ post.intro | safe }}
                    {% else %}

                    {% endif %}
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}