// Colors
$primary: #2BEA41;
$primaryNeon: #2BEA41;
$success: #209B01;
$secondary: #777777;
$danger: #FF7363;

// Typography
$headings-font-weight: 300;
$font-weight: 300;

// Links
$link-decoration: none;

