// Colors
$primary: #761EE8;
$primaryNeon: #6F00FF;
$success: #209B01;
$secondary: #777777;
$danger: #EB1030;

// Typography
$headings-font-weight: 300;
$font-weight: 300;

// Links
$link-decoration: none;

